
header {
  position: relative;
  display: grid;
  /* background-color: var(--dark); */
  color: black;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'menu . profile';
  gap: var(--s4);
  padding: var(--s4);
  height: 15vw;
}

.circle {
  background-color: var(--dark);
  border-radius: 50%;
  width: 90vw;
  height: 90vw;
  position: absolute;
  top: -77vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media (min-width: 480px) {
  header {
    height: 10vw;
  }
  .circle {
    top: -110vw;
    width: 120vw;
    height: 120vw;
  }
}

.logo {
  position: absolute;
  top:2vw;
  left: 50%;
  width: 15vw;
  transform: translateX(-50%);
  color: white;
}

.menu {
  grid-area: menu;
}
.profile {
  grid-area: profile;
}

.menu img, .profile img {
  width: var(--s5);
  height: var(--s5);
  object-fit: contain;
}

footer {
  padding: var(--s4);
  background-color: var(--light-grey);
}