:root {
  --primary: #1AC3D6;
  --dark: #030E23;
  --light: #94E7ED;
  --secondary: #DE6F24;
  --secondary-light: #F3E2CF;

  --grey: #333;
  --light-grey: #EEE;

  --s1: 2px;
  --s2: 4px;
  --s3: 8px;
  --s4: 16px;
  --s5: 32px;
  --s6: 64px;
  --s7: 128px;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

a {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}

h1, .h1 {
  font-size: 48px;
}
h2, .h2 {
  font-size: 36px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 20px;
}

.light {
  font-weight: 200;
}

.allcaps {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
}


.button {
  display: inline-block;
  appearance: none;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 2px;
  padding: 8px;
  font-weight: 600;
  transition: 0.15s;
}

.button:hover {
  background-color: var(--dark);
  color: white;
  border: 2px solid transparent;
}